<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="stylesheet" href="../View/assets/css/panelAdminStyle.css">

    <title>Document</title>
</head>

<body onload="viewTabCommettre(); viewTabInfraction();loadUsersFormAdmin();">

<div class="contenu">
    <div class="header">
        <nav class="navbar navbar-expand-md navbar-dark bg-dark">
            <div class="container">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
                        aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarNavDropdown">
                    <ul class="navbar-nav mx-auto">
                        <li class="nav-item">
                            <a class="nav-link mx-2" href="index.php">Accueil</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link mx-2" href="../Controller/executeGraphique.php">Le graphique des jurons</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link mx-2" href="../View/balance.php">Top Balance</a>
                        </li>


                        <li class="nav-item">
                            <a class="nav-link mx-2" href="tableau.html">Balancer quelqu'un</a>
                        </li>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link mx-2" href="../View/profil.php">Mon profil</a>
                        </li>
                        <li id="panelAdmin" style="display: none" class="nav-item">
                            <a class="nav-link mx-2 active" aria-current="page"  href="../View/panelAdmin.html">Panel admin</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link mx-2" href="../Controller/executeLogout.php">Se déconnecter</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
        <div class="titre">
            <h1 class="text-center">Bienvenue sur le panel admin</h1>
            <hr class="style-two">
        </div>
        <div class="formAdmin">
            <h3 class="text-center">Ajoutez un administrateur</h3>
            <form class="form" id="insertAdmin">
                <select class="form-select text-center" name="login" id="selectUser">
                    <option value="" selected>Choisir un utilisateur</option>
                </select>
                <select  id="selectRole" class="form-select text-center" name="role">
                    <option selected>Choisir un role</option>
                    <option value="1">Admin</option>
                    <option value="2">Normal</option>
                </select>
                <div class="text-center">
                    <button onclick="insertAdmin()"  type="button" class="text-center btn btn-primary">Valider</button>
                </div>

            </form>
            <hr class="style-two">
        </div>

        <div class="retourIcon">
            <a id="retourArriere" style="display: none" onclick="viewTabCommettre()">
                <img height="10px" src="assets/img/fleche-fine-contour-vers-la-gauche.png" alt="fleche vers la gauche">
            </a>
        </div>
        <div class="titreTab1">
            <h3>Historique</h3>
        </div>

        <div class="search">
            <form id="search">
                <input id="searchName" type="search" name="login" placeholder="Qui voulez-vous rechercher ?">
                <button type="button" onclick="searchLogin()" class="btn btn-primary" >Rechercher</button>
            </form>
        </div>
        <div class="tab1 tableau">
            <table id="viewTab" class="table table-striped">
                <thead class="black white-text">
                <tr>
                    <th>Infraction</th>
                    <th>Login</th>
                    <th>Balance</th>
                    <th>Date</th>
                    <th>Action</th>
                </tr>
                </thead>
                <tbody id="viewCommettre">
                </tbody>
            </table>
        </div>
        <div class="titreTab2">
            <hr class="style-two">
            <h3 class="text-center">Ajouter/Supprimer une infraction</h3>
        </div>
        <div class="tab2 tableau2">
            <table id="viewTab2" class="table table-striped">
                <thead class="black white-text">
                <tr>
                    <th>Code infraction</th>
                    <th>Categorie infraction</th>
                    <th>Tarif de l'infraction</th>
                    <th>Action</th>
                </tr>
                </thead>
                <tbody>
                <form id="insertInfra">
                    <tr>
                        <td class="formInfra2" data-label="Code">
                            <input type="text" name="code" id="code" class="textInput" placeholder="code infraction">
                        </td>
                        <td class="formInfra2"  data-label="Categorie">
                            <input type="text" name="categorie" id="categorie" class="textInput" placeholder="categorie infraction">
                        </td>
                        <td class="formInfra2"   data-label="Tarif">
                            <input type="text" name="tarif" id="tarif" class="textInput" placeholder="tarif de l'infraction">
                        </td>
                        <td class="formInfra2"  data-label="Action">
                            <input type="button" onclick="insertInfraction()" class="btn btn-primary bouton" value="valider">
                        </td>
                    </tr>
                </form>
                </tbody>
                <tbody id="viewInfraction">
                </tbody>
            </table>
            <hr class="style-two">
        </div>
    <div class="footer">
        <footer class="text-center text-white" style="width: 100%;background-color: #673ab7;">
            <!-- Grid container -->
            <div class="container p-4"></div>
            <!-- Grid container -->

            <!-- Copyright -->
            <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
                © 2023 Copyright:
                <a class="text-white" href="https://www.afpa.fr/">Afpa.fr</a>
            </div>
            <!-- Copyright -->
        </footer>
    </div>

</div>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
<script
        src="https://code.jquery.com/jquery-3.6.3.min.js"
        integrity="sha256-pvPw+upLPUjgMXY0G+8O0xUf+/Im1MZjXxxgOcBQBXU="
        crossorigin="anonymous"></script>
<script type="text/javascript" src="assets/js/functions.js" onload="adminLoad()"></script>


</body>

</html>

