<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="stylesheet" href="../View/assets/css/tableauStyle.css">
    
    <title>Document</title>
</head>

<body onload="adminLoad(); insertJuron(); viewTabJurons(); insertPenal();">
<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <div class="container">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
                aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav mx-auto">
                <li class="nav-item">
                    <a class="nav-link mx-2" href="index.php">Accueil</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link mx-2" href="../Controller/executeGraphique.php">Le graphique des jurons</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link mx-2" href="../View/balance.php">Top Balance</a>
                </li>


                <li class="nav-item">
                    <a class="nav-link mx-2 active" aria-current="page"  href="tableau.html">Balancer quelqu'un</a>
                </li>
                </li>
                <li class="nav-item">
                    <a class="nav-link mx-2" href="../View/profil.php">Mon profil</a>
                </li>
                <li id="panelAdmin" style="display: none" class="nav-item">
                    <a class="nav-link mx-2" href="../View/panelAdmin.html">Panel admin</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link mx-2" href="../Controller/executeLogout.php">Se déconnecter</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
    <div class="parent">


<div class="containeurUn">

    <div class="tableau">
        <table id="allTime" class="table table-striped">
            <thead class="black white-text" style="background-color: #673ab7">
            <tr>
                <th>Nom</th>
                <th>Prenom</th>
                <th>Petit jurons</th>
                <th>Gros jurons</th>
                <th>Rot</th>
                <th>Geste obscène</th>
                <th>Retard</th>
                <th>Total</th>
            </tr>
            </thead>
            <tbody id="viewJurons">

            </tbody>

        </table>
    </div>
            <!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
    Balancer quelqu'un
  </button>

  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Balancer quelqu'un</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form id="insertPena">
            <label for="select">Selectionné la personne que vous voulez balancer : </label>
            <select id="select" name="loginCommettre"  class="form-select" aria-label="Default select example">
                <option value="" selected> Choisir un utilisateur</option>


            </select>
            <br/>
            <select name="codeInfraction" class="form-select" aria-label="Default select example">
                <option value="" selected>Choisir une infraction</option>
                <option value="code_2">Petit juron</option>
                <option value="code_3">Gros juron</option>
                <option value="code_4">Rot</option>
                <option value="code_5">Geste deplacé</option>
                <option value="code_1">Retard</option>
            </select>

        </div>
        <div class="modal-footer">
          <input class="btn btn-primary" type="submit" data-bs-dismiss="modal" value="valider" >
        </form>
        </div>
      </div>
    </div>
  </div>
</div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
    <script
            src="https://code.jquery.com/jquery-3.6.3.min.js"
            integrity="sha256-pvPw+upLPUjgMXY0G+8O0xUf+/Im1MZjXxxgOcBQBXU="
            crossorigin="anonymous"></script>
    <script type="text/javascript" src="assets/js/functions.js"></script>


<footer class="text-center text-white fixed-bottom" style="background-color: #673ab7">
    <!-- Grid container -->
    <div class="container p-4"></div>
    <!-- Grid container -->

    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
        © 2023 Copyright:
        <a class="text-white" href="https://www.afpa.fr/">Afpa.fr</a>
    </div>
    <!-- Copyright -->
</footer>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
<script
        src="https://code.jquery.com/jquery-3.6.3.min.js"
        integrity="sha256-pvPw+upLPUjgMXY0G+8O0xUf+/Im1MZjXxxgOcBQBXU="
        crossorigin="anonymous"></script>
<script type="text/javascript" src="assets/js/functions.js" onload="viewTabBalance('allTime')"></script>
</body>

</html>

</body>

</html>