body {
    background-color: black;
}

.logo {
    text-align: center;
}

.parent {
    display: flex;
    justify-content: center;
}

footer {
    position: fixed; bottom: 0;
    width : 100%;
    
}

.loader-pulse {
    width: 64px;
    height: 64px;
    border-radius: 50%;
    background: #8f44fd;
    animation: load-pulse 2s infinite linear;
    margin: auto;
  }
  
  @keyframes load-pulse {
    0% {
      transform: scale(0.15);
      opacity: 0;
    }
  
    50% {
      opacity: 1;
    }
  
    100% {
      transform: scale(1);
      opacity: 0;
    }
  }

	@media screen and (min-width:777px){
    .nav-link {
      padding:18px 0;
      min-width:120px;
    }
    .navbar {
      padding: 0
    }
    @media only screen and (max-height:860px) {
        footer {
            position: relative;
            width : 100%;

        }
    }
  }