footer {
    position: fixed; bottom: 0;
    width : 100%;
}
.contenu {  display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
    ". headTab headTab ."
    ". tableau tableau ."
    ". tableau tableau ."
    ". . . .";
}

.tableau { grid-area: tableau; }

.headTab {  display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
    "titre titre titre"
    ". . ."
    ".bouton.";
    grid-area: headTab;
}

.titre { grid-area: titre; }
.bouton{
    grid-area: bouton!important;
}