body {
    background: rgb(255,255,255);
background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 0%, rgba(0,0,0,0.18671218487394958) 100%);
}

footer {
    position: fixed; bottom: 0;
    width : 100%;
}
.contenu {  display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
    ". headTab headTab ."
    ". tableau tableau ."
    ". tableau tableau ."
    ". . . .";
}

.tableau {
     grid-area: tableau;
    border:medium;
}

.headTab {  display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
    "titre titre titre"
    ". . ."
    ".bouton.";
    grid-area: headTab;
}

.titre { 
    margin-top: 2%;
    grid-area: titre; 
}

.bouton{
    grid-area: bouton!important;
}