
body {
    background: rgb(255,255,255);
    background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 0%, rgba(0,0,0,0.18671218487394958) 100%);
}




.graphique {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 76.8vh;
}


#myChart {
    height: 500px !important;
    width : 100% !important;
}

h1 {
    text-align: center;
}

footer {

    bottom: 0;
    width : 100%;
    
}

.titreGraph {
    margin-top: 2%;
}