


@media screen and (min-width:777px){
    .nav-link {
      padding:18px 0;
      min-width:120px;
    }
    .navbar {
      padding: 0
    }

  }

@media screen and (max-width:777px){
    footer {
        position: sticky;
        bottom: 0;
    }
    .graphique {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 40vh;
    }

}

.graphique {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 76.8vh;
}





#myChart {
    height: 600px !important;
    width : 100% !important;
}

h1 {
    text-align: center;
}

footer {
    position: fixed; bottom: 0;
    width : 100%;
    
}
