.contenu {  display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 0.1fr 0.1fr 0.4fr 0.1fr 1fr 0.1fr 1fr 0.1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
    "header header header header header"
    ". titre titre titre ."
    ". formAdmin formAdmin formAdmin ."
    ". retourIcon titreTab1 search ."
    ". tab1 tab1 tab1 ."
    ". titreTab2 titreTab2 titreTab2 ."
    ". tab2 tab2 tab2 ."
    "footer footer footer footer footer";
}

.retourIcon { grid-area: retourIcon; }

.tab1 { grid-area: tab1; }

.search { grid-area: search; }

.titreTab1 { grid-area: titreTab1; }

.formAdmin { grid-area: formAdmin; }

.titre { grid-area: titre; }

.titreTab2 { grid-area: titreTab2; }

.tab2 { grid-area: tab2; }

.footer { grid-area: footer; }
.header { grid-area: header; }


.tableau, .tableau2 {
    overflow-y: auto ;
    max-height: 472px!important;
    width: auto !important;
}

.tableau table {
    border: 1px solid black;
    border-spacing: 0px;
    text-align: center;
}
.tab1 thead{
    top: 0px;
    position: sticky;
}

table{
    width: auto;
}
thead{
    border: 1px solid black;
    background-color: #673ab7;
}
th{
    color: white;
}
th, td{
    border-left: 1px solid black;
    border-bottom: 1px solid black;
    text-align: center;
}

hr.style-two {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

@media only screen and (max-width: 1240px){
    .contenu {  display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: 0.1fr 0.1fr 0.1fr 0.1fr 0.5fr 0.1fr 0.5fr 0.1fr;
        gap: 0px 0px;
        grid-auto-flow: row;
        grid-template-areas:
                "header header header header"
                ". titre titre titre ."
                ". formAdmin formAdmin formAdmin ."
                ". retourIcon titreTab1 search ."
                ". tab1 tab1 tab1 ."
                ". titreTab2 titreTab2 titreTab2 ."
                ". tab2 tab2 tab2 .";
                "footer footer footer footer footer";
    }
    .tableau{
        width: 579px !important;
        max-height: 836px !important;
    }

    .tableau2 {
        overflow-y: auto ;
        max-height: 354px!important;
        width: 574px !important;
    }
    table, thead, tbody, th, td{
        display: block;
    }

    thead{
        display: none;
    }
    td{
        padding-left: 273px!important;
        position: relative;
        padding-right: 140px!important;
        border-right: 1px solid black;
    }

    .formInfra{
        padding-left: 315px!important;
    }

    .formInfra2{
        padding-left: 271px!important;
        padding-right: 94px!important;
    }

    td::before{
        padding: 10px;
        content: attr(data-label);
        position: absolute;
        top: 0;
        left: 0;
        width: 130px;
        background-color: #673ab7;
        color: white;
        display: flex;
        align-items: center;
        font-weight: bold;
        border: 1px solid black;
    }

    tr {
        margin-bottom: 1rem!important;
    }
    .bouton{
        height: 27px !important;
        width: 99px !important;
    }
}